<!DOCTYPE html>
<html>
  <%- include('header'); -%>
  <body class="text-center">
    <div class="container">
      <h1><b>Smart</b>Home</h1>
      <div class="row">
        <div class="col-md-3"><div class="tiles">P</div></div>
        <div class="col-md-3"><div class="tiles">N</div></div>
        <div class="col-md-3"><div class="tiles">M</div></div>
        <div class="col-md-3"><div class="tiles">T</div></div>
      </div>
		   <a href="/portao" class="btn btn-primary btn-block btn-flat">Portão</a>
      <hr>
		  <a href="/logout" class="btn btn-primary btn-block btn-flat">Logout</a>
    </div><!-- /.login-box -->
    <%- include('footer'); -%>
  </body>
</html>